.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.second-row {

}

.third-row {

}

.thumbnail {
    display: flex;
    flex-direction: column;
}